{{define "common/footer"}}
<div class="{{if .IsDashboardPage}}dashboard-footer{{else}}ui inverted vertical footer segment{{end}}">
    <div class="{{if .IsDashboardPage}}dashboard-footer-inner{{else}}ui center aligned is-size-7 container{{end}}">
        <b>&copy; <a style="color: white;" href="/">{{.Conf.Site.Brand}}</a></b> | <small>Powered by <a
                href="https://github.com/naiba/nezha" style="color: white;" target="_blank">{{tr "NezhaMonitoring"}}</a>
            {{.Version}}</small>
    </div>
</div>
{{if .IsDashboardPage}}
<script src="/static/vendor/vue/vue.global.prod.js?v20260617"></script>
<script src="/static/vendor/element-plus/index.full.min.js?v20260617"></script>
{{if eq .Conf.Language "zh-CN"}}
<script src="/static/vendor/element-plus/locale/zh-cn.js?v20260617"></script>
{{else if eq .Conf.Language "zh-TW"}}
<script src="/static/vendor/element-plus/locale/zh-tw.js?v20260617"></script>
{{else if eq .Conf.Language "es-ES"}}
<script src="/static/vendor/element-plus/locale/es.js?v20260617"></script>
{{else}}
<script src="/static/vendor/element-plus/locale/en.js?v20260617"></script>
{{end}}
{{template "common/csrf" .}}
<script src="/static/dashboard.js?v20260617-layout28"></script>
{{else}}
<script src="/static/unpkg/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/static/unpkg/semantic-ui@2.4.0/dist/semantic.min.js"></script>
<script src="/static/semantic-ui-alerts.min.js"></script>
<script src="/static/unpkg/vue@2.6.14/dist/vue.min.js"></script>
{{template "common/csrf" .}}
<script src="/static/main.js?v20260617-pn1"></script>
{{end}}
<script>
    (function () {
        updateLang({{.LANG }});
    })();
</script>
</body>

</html>
{{end}}
